.optionContainer {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 1rem;
}

.optionLabel {
  flex: 1;
  cursor: pointer;
}

.optionLabel input {
  display: none; /* Ocultamos el radio original */
}

/* El cuadro que ve el usuario */
.customRadio {
  display: block;
  text-align: center;
  padding: 12px 15px;
  border-radius: 50px; /* Redondeado igual que los botones */
  border: 2px solid #E1D5F5;
  font-weight: 600;
  color: #8E7CC3;
  background-color: #fff;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

/* Efecto Hover */
.optionLabel:hover .customRadio {
  background-color: #f8f6ff;
  border-color: #8E7CC3;
}

/* Cuando el radio está seleccionado */
.optionLabel input:checked + .customRadio {
  background-color: #8E7CC3;
  color: #fff;
  border-color: #8E7CC3;
  box-shadow: 0 4px 10px rgba(142, 124, 195, 0.3);
}