@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}


.w-responsive{
  width: 75%;
}

@media (max-width: 576px) {
  .w-responsive{
    width: 100% !important;
  }
}
